<!-- Footer -->
<!--<div class="col-12 " style="height:10px; background:red; box-shadow:0xp 20px 40px rgba(0,0,0,0.5)"></div>-->

<footer class="page-footer font-small blue">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 py-5 pr-5">

          <!-- Content -->
      <a class="footer-brand ml-5 pl-5 d-md-block d-none" href="#">Guchelaar<strong>Auto Detailing</strong></a>
      <P class="text-dark text-center d-md-block d-none">06-22594195 | p.guchelaar@gmail.com<br>
         Riegshoogtendijk 28
7913 AZ
Hollandscheveld
Nederland</P>
        <!--<img class="img-fluid" src="../img/logo-footer.png">-->
        </div>


        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 py-4">

            <!-- Links -->
            <h5 class="text-uppercase">Werk</h5>

            <ul class="list-unstyled">
              <li>
                <a href="/ceramic-guard">IGL Coatings</a>
              </li>
              <li>
                <a href="/waxguard">Wax Guard</a>
              </li>
              <li>
                <a href="/technieken">SSR</a>
              </li>
              <li>
                <a href="/portfolio">Portfolio</a>
              </li>
            </ul>


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3 py-4">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/contact-opnemen">Contact</a>
              </li>
              <li>
                <a href="https://www.facebook.com/carcleaningguchelaar/">Facebook</a>
              </li>
              <li>
                <a href="/avg">AVG en Privacy Policy</a>
              </li>
            </ul>
                <div class="pt-3 text-dark footer-copyright text-center py-1">Gemaakt door
      <a href="https://www.3dwebdevelopment.com"><strong>3DWD</strong></a>
    </div>
          </div>
          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->

    <!-- Copyright -->

  </footer>

  <!-- Footer -->
<div id="cookieConsent">
    <div id="closeCookieConsent">x</div>
    Deze website maakt gebruik van functionele en technische cookies. Klik hier voor <a href="/avg" >meer informatie</a>. <a class="cookieConsentOK">Akkoord</a>
</div>

</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/scripts/cookies.js"></script>
<script src="/scripts/scroll.js"></script>
</html>
