<!doctype html>
<html lang="en">
<head>
    <meta name="description" content="Snel - effectief - geringe kosten - klaar terwijl u wacht en onze dealers bieden meer mogelijkheden!">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/svg" href="img/stars.svg">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Guchelaar Auto Detailing</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <!--ANIMATE CSS-->

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <!-- or -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    
</head>

<div class="text-light text-center container-fluid m-0 p-0" style=" height:100vh; width:100vw; background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://images.pexels.com/photos/707046/pexels-photo-707046.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
background-size:cover; background-position:center center;">
    <div style="padding-top:40vh">
    <h1 class="display-1 text-light">404</h1>
    <h3 class="text-light">Deze pagina bestaat niet</h3>
    <a href="/" class="btn btn-primary text-light" style="background:red">Terug naar startpagina.</a>
    </div>
</div>