<!doctype html>
<html lang="en">
<head>
    <meta name="description" content="Reparaties vanaf 40 euro Geen vervangende auto nodig. Geen kleurverschil. Bedrag blijft onder eigen risico norm verzekering. Uitvoering door opgeleide mensen. Maximaal 1 uur wachttijd Originele autolak. Klaar terwijl u wacht!">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="img/g.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Guchelaar Auto Detailing</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <!--ANIMATE CSS-->

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <!-- or -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<meta name="google-site-verification" content="yu-kDmtM_934dmZLulqqj6IVPUBXmewyiD5D-9kb4QE" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121313270-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121313270-10');
</script>


</head>
<body>
<div class="gradient">
<nav class="navbar navbar-expand-lg p-0 fixed-top">
  <a class="navbar-brand pl-5 animated fadeInUp" href="/">Guchelaar<strong>Auto Detailing</strong></a>
  <button class="navbar-toggler hide" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto pr-5">
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 active animated fadeInUp" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/portfolio">Portfolio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/ceramic-guard">IGL Coatings</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/waxguard">Wax Guard</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/technieken">SSR</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/contact-opnemen">Contact opnemen</a>
      </li>
    <!--<li class="nav-item p-0">-->
    <!--    <a class="nav-link mx-2 p-1" href="#">Disabled</a>-->
    <!--  </li>-->
    <!--<li class="nav-item p-0">-->
    <!--    <a class="nav-link mx-2 p-1" href="#">Disabled</a>-->
    <!--  </li>-->
    </ul>
  </div>
</nav>
</div>


<div class="container-fluid" id ="contact-hero">
   <a id="facebook" href="https://www.facebook.com/carcleaningguchelaar/"><i class="fab fa-facebook"></i></a>

</div>
<div class="container-fluid my-5 px-5">
    <div class="container">

Guchelaar auto detailing Guchelaar auto detailing, gevestigd aan Riegshoogtendijk 28 7913 AZ Hollandscheveld, is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring.
<br><br>
Contactgegevens:
<br>
https://www.guchelaarautodetailing.nl Riegshoogtendijk 28 7913 AZ Hollandscheveld 06-25594195
<br>
Persoonsgegevens die wij verwerken<br><br>
Guchelaar auto detailing verwerkt uw persoonsgegevens doordat u gebruik maakt van onze diensten en/of omdat u deze zelf aan ons verstrekt. Hieronder vindt u een overzicht van de persoonsgegevens die wij verwerken:
<br>
- Voor- en achternaam<br>
- Telefoonnummer<br>
- E-mailadres<br>
Bijzondere en/of gevoelige persoonsgegevens die wij verwerken<br>
Onze website en/of dienst heeft niet de intentie gegevens te verzamelen over websitebezoekers die jonger zijn dan 16 jaar. Tenzij ze toestemming hebben van ouders of voogd. We kunnen echter niet controleren of een bezoeker ouder dan 16 is. Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om zo te voorkomen dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming. Als u er van overtuigd bent dat wij zonder die toestemming persoonlijke gegevens hebben verzameld over een minderjarige, neem dan contact met ons op via p.guchelaar@gmail.com, dan verwijderen wij deze informatie.
<br><br>
Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken<br>
Guchelaar auto detailing verwerkt uw persoonsgegevens voor de volgende doelen:
<br><br>
- U te kunnen bellen of e-mailen indien dit nodig is om onze dienstverlening uit te kunnen voeren<br>
Geautomatiseerde besluitvorming<br>
Guchelaar auto detailing neemt niet op basis van geautomatiseerde verwerkingen besluiten over zaken die (aanzienlijke) gevolgen kunnen hebben voor personen. Het gaat hier om besluiten die worden genomen door computerprogramma's of -systemen, zonder dat daar een mens (bijvoorbeeld een medewerker van Guchelaar auto detailing) tussen zit. Guchelaar auto detailing gebruikt de volgende computerprogramma's of -systemen: Geen.<br>
<br>
Hoe lang we persoonsgegevens bewaren<br>
Guchelaar auto detailing bewaart uw persoonsgegevens niet langer dan strikt nodig is om de doelen te realiseren waarvoor uw gegevens worden verzameld.<br>
Delen van persoonsgegevens met derden<br>
Guchelaar auto detailing verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze overeenkomst met u of om te voldoen aan een wettelijke verplichting.
<br><br>
Cookies, of vergelijkbare technieken, die wij gebruiken<br>
Guchelaar auto detailing gebruikt alleen technische en functionele cookies. En analytische cookies die geen inbreuk maken op uw privacy. Een cookie is een klein tekstbestand dat bij het eerste bezoek aan deze website wordt opgeslagen op uw computer, tablet of smartphone. De cookies die wij gebruiken zijn noodzakelijk voor de technische werking van de website en uw gebruiksgemak. Ze zorgen ervoor dat de website naar behoren werkt en onthouden bijvoorbeeld uw voorkeursinstellingen. Ook kunnen wij hiermee onze website optimaliseren. U kunt zich afmelden voor cookies door uw internetbrowser zo in te stellen dat deze geen cookies meer opslaat. Daarnaast kunt u ook alle informatie die eerder is opgeslagen via de instellingen van uw browser verwijderen.
<br><br>
Gegevens inzien, aanpassen of verwijderen<br>
U heeft het recht om uw persoonsgegevens in te zien, te corrigeren of te verwijderen. Daarnaast heeft u het recht om uw eventuele toestemming voor de gegevensverwerking in te trekken of bezwaar te maken tegen de verwerking van uw persoonsgegevens door Guchelaar auto detailing en heeft u het recht op gegevensoverdraagbaarheid. Dat betekent dat u bij ons een verzoek kunt indienen om de persoonsgegevens die wij van u beschikken in een computerbestand naar u of een ander, door u genoemde organisatie, te sturen. U kunt een verzoek tot inzage, correctie, verwijdering, gegevensoverdraging van uw persoonsgegevens of verzoek tot intrekking van uw toestemming of bezwaar op de verwerking van uw persoonsgegevens sturen naar p.guchelaar@gmail.com. Om er zeker van te zijn dat het verzoek tot inzage door u is gedaan, vragen wij u een kopie van uw identiteitsbewijs met het verzoek mee te sturen. Maak in deze kopie uw pasfoto, MRZ (machine readable zone, de strook met nummers onderaan het paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter bescherming van uw privacy. We reageren zo snel mogelijk, maar binnen vier weken, op uw verzoek. Guchelaar auto detailing wil u er tevens op wijzen dat u de mogelijkheid heeft om een klacht in te dienen bij de nationale toezichthouder, de Autoriteit Persoonsgegevens. Dat kan via de volgende link: https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons
<br><br>
Hoe wij persoonsgegevens beveiligen<br>
Guchelaar auto detailing neemt de bescherming van uw gegevens serieus en neemt passende maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan. Als u de indruk heeft dat uw gegevens niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, neem dan contact op met onze klantenservice of via p.guchelaar@gmail.com
    </div>
</div>

<% include partials/footer %>

