<!doctype html>
<html lang="en">
<head>
    <meta name="description" content="Reparaties vanaf 40 euro Geen vervangende auto nodig. Geen kleurverschil. Bedrag blijft onder eigen risico norm verzekering. Uitvoering door opgeleide mensen. Maximaal 1 uur wachttijd Originele autolak. Klaar terwijl u wacht!">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="img/g.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Guchelaar Auto Detailing</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <!--ANIMATE CSS-->

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <!-- or -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<meta name="google-site-verification" content="yu-kDmtM_934dmZLulqqj6IVPUBXmewyiD5D-9kb4QE" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121313270-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121313270-10');
</script>


</head>
<body>
<div class="gradient">
<nav class="navbar navbar-expand-lg p-0 fixed-top">
  <a class="navbar-brand pl-5 animated fadeInUp" href="/">Guchelaar<strong>Auto Detailing</strong></a>
  <button class="navbar-toggler hide" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto pr-5">
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 active animated fadeInUp" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/portfolio">Portfolio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/ceramic-guard">Ceramic Guard</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/waxguard">Wax Guard</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/technieken">SSR</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/contact-opnemen">Contact opnemen</a>
      </li>
    <!--<li class="nav-item p-0">-->
    <!--    <a class="nav-link mx-2 p-1" href="#">Disabled</a>-->
    <!--  </li>-->
    <!--<li class="nav-item p-0">-->
    <!--    <a class="nav-link mx-2 p-1" href="#">Disabled</a>-->
    <!--  </li>-->
    </ul>
  </div>
</nav>
</div>


<div class="container-fluid" id ="hero">
  <!--<div class="row">-->
    <!--<div class="col"></div>-->
    <div class="col-md-6 mx-auto text-center">
      <p class="navbar-brand">Guchelaar<strong>Auto Detailing</strong></p>
      <p class="text-light hero-text pb-5">Laat je auto weer stralen.</h5><br>
        <button class="btn btn-secondary mt-2"><strong>Contact opnemen</strong></button><br>
        <img src="img/down.png" class="mt-5">
    </div>
    <!--<div class="col"></div>-->
  <!--</div>-->
  <a id="facebook" href="https://www.facebook.com/carcleaningguchelaar/"><i class="fab fa-facebook"></i></a>
</div>
  <div class="col-12" id="banner" style="height:80px; background:#c91e00; box-shadow:0xp 20px 40px rgba(0,0,0,0.5)">
              <h1 class="text-center text-light pt-3">De beste service voor uw auto<br>
  </div>

<div class="container-fluid" id ="about">
  <!--<div class="container" id="about-inner">-->
    <!--<div class="col-sm-11 mx-auto">-->
        <!--<div class="col-12 p-0" style="height:100px; background:white; box-shadow:0xp 20px 40px rgba(0,0,0,0.5)"></div>-->
      <div class="row" id="lamb-row">
        <div class="col-sm-6 p-0" id="lamborghini">
          
          <!--<img src="img/Lamborghini.jpg" class="img-fluid d-md-block d-none">-->
        </div>
        <div class="col-sm-6 p-0">
          <h3 class="px-4 pt-4 text-center">Guchelaar Auto Detailing werkt niet met standaard behandelingen maar levert uitsluitend maatwerk.
          </h3>
          <div class="mx-auto">
            <img src="img/clean-sm.png" class="img-fluid">
          </div>
          <p class="px-5 pt-3">
Wij laten met gespecialiseerde behandelingen zien dat 'car detailing' verder gaat dan even snel een autopoetsen.<br><br>
Dat merkt u aan onze werkwijze, de gebruikte producten en aan de perfecte staat waarin uw auto wordt afgeleverd.<br><br>
Wij hebben liefde voor ons vak. Kwaliteit vinden wij belangrijker dan ‘snel’ werk afleveren. Goed onderhoud van een auto kost immers tijd, een ondeskundige behandeling levert uiteindelijk meer schade dan resultaat op. Wij stellen daarom hoge eisen aan ons werk. Met onze machines  brengen wij uw auto terug in nieuw staat. Binnen en buiten. 

            </p>
              <br>
            <div class="text-center">
              <a href="/contact-opnemen" class="btn btn-primary mb-3">Contact opnemen</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-12" id="banner2" style="height:150px; background:#BF0000;">
          <h1 class="text-center text-light pt-2 ">Bel nu om een afspraak te maken<br>
          <img src="img/call.png"> 06-25594195</h2>
        </div>

<div class="container-fluid" id ="ceramic-guard">
  <!--<div class="container" id="about-inner">-->
    <!--<div class="col-sm-11 mx-auto">-->
      <div class="row">
        <div class="col-sm-6 p-0">
          <h3 class="px-5 pt-5">Met trots kan ik u zeggen dat Guchelaar Auto Detailing gecertificeerd Cartec Cermamic Guard detailer is.
          </h3>
            <img src="img/clean-sm.png" class="img-fluid">
          <p class="px-4 pt-3">
            Ceramic Guard is een nieuwe doorbraak op het gebied van op silicium gebaseerde nano coatings. Met dit revolutionaire product is het nu mogelijk om in één stap een zeer gladde, hoogglanzende en duurzame beschermlaag aan te brengen op de autolak. Ceramic Guard versterkt en verhoogt de hardheid van de lak waardoor de krasbestendigheid en kwetsbaarheid sterk verbetert.
          </p>
              <br>
            <div class="text-center">
              <a href="/ceramic-guard" class="btn btn-primary mb-3">Meer lezen &rarr;</a>
          </div>
        </div>
        <div class="col-sm-6 p-0" id="ceramic">
          <!--<img src="http://www.cartecworld.com/uploads/CeramicGuard_auto_logo.jpg" class="img-fluid">-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 p-0" id="banner" style="height:100px; background:#BF0000; "></div>
<div class="container-fluid" id ="about">
  <!--<div class="container" id="about-inner">-->
    <!--<div class="col-sm-11 mx-auto">-->
      <div class="row">
        <div class="col-sm-6 p-0" id="ferarri">
          <!--<img src="img/4.jpg" class="img-fluid d-md-block d-none">-->
        </div>
        <div class="col-sm-6 p-0">
          <h4 class="pt-3 text-center"> Haal- en  Brengservice.
          </h4>
            <img src="img/clean-sm.png" class="img-fluid">
          <p class="px-4 pt-2">
Geen tijd of mogelijkheid om uw auto bij ons te brengen? <strong>Geen probleem!</strong><br><br> Maak gebruik van de haal- en brengservice.<br> Wij halen uw auto bij huis of bedrijf op en brengen die na de behandeling weer terug op een afgesproken tijdstip. 
            </p>
            <div class="text-center">
              <a href="/contact-opnemen" class="btn btn-primary mb-3">Maak een afspraak!</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-12" id="banner3" style="height:120px; background:#BF0000;  ">
              <h2 class="display-4 text-light text-center pt-3">Recensies</h2>

        </div>
        <!--<div class="col-12 " style="height:100px; background:white; box-shadow:0xp 20px 40px rgba(0,0,0,0.5)"></div>-->

<div class="container-fluid" id="reviews">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="review">
      <h2 class="display-4 text-center text-light"><i class="fas fa-quote-left"></i>Zelfs de meest onmogelijke klussen worden tot in perfectie afgehandeld.<i class="fas fa-quote-right"></i></h2>
      <div class="row">
      <div class="col"></div>
      <div class="col-md-8 d-inline"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p class="text-light">-Peter</p></div>
      <div class="col"></div>
      </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="review">
      <h2 class="display-4 text-center text-light"><i class="fas fa-quote-left"></i>Boven verwachting!Alle krasjes weg en lak weer als nieuw!<i class="fas fa-quote-right"></i></h2>
      <div class="row">
      <div class="col"></div>
      <div class="col-md-8 d-inline"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p class="text-light">-Renato</p></div>
      <div class="col"></div>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>

        <div class="col-12" style="height:120px; background:#BF0000;">
          <h2 class="text-light display-4 text-center pt-3">Diensten</h2>
        </div>


<div class="container-fluid mb-5">
  <!--<div class="container">-->
    <!--<div class="col-md-11 my-5 mx-auto">-->
  <!--<h3>Voor de volgende (deel)behandelingen kunt u bij ons terecht:</strong></h3>-->
      <div class="row" id="services">
    <div class="col-md-4 p-0">
      <img src="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid">
          <h2 class="red my-4 text-center">Buitenkant</h2>
            <img src="img/clean-sm.png" class="img-fluid">
          <ul>
            <li>Wassen en drogen </li>
            <li>Cleanen en/of polijsten </li>
            <li>Aanbrengen waxlaag</li>
            <li>Ramen</li>
          </ul>
        </div>
        <div class="col-md-4 p-0">
          <img src="https://images.pexels.com/photos/355953/pexels-photo-355953.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid">
          <h2 class="red my-4 text-center">Binnenkant</h2>
            <img src="img/clean-sm.png" class="img-fluid">
          <ul>
            <li>(Complete) reiniging interieur </li>
            <li>Hemelreiniging </li>
            <li>Ramen </li>
            <li>(Grondig) stofzuigen</li>
            <li>(Diepte)reiniging gehele of deel van bekleding </li>
          </ul>
        </div>
        <div class="col-md-4 p-0">
          <img src="https://images.pexels.com/photos/237195/pexels-photo-237195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid">
          <h2 class="red my-4 text-center">Diversen</h2>
            <img src="img/clean-sm.png" class="img-fluid">
          <ul>
            <li>Verwijdering van belettering</li>
            <li>Reinigen van de motorruimte </li>
            <li>Ozonbehandeling voor het verwijderen van nare geuren</li>
            <li>Aanbrengen lakverzegeling voor een zeer langdurige bescherming van de lak </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h2>Bedankt voor je bericht!</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Sluiten</button>
      </div>
    </div>

  </div>
</div>
<% include partials/footer %>
<script src="../scripts/bedankt.js"></script>