<% include partials/header %>
<div class="container-fluid" id ="ceramic-guard-hero">
    
</div>
<div class="container-fluid" id="ceramic-guard-section">
    <div class="container">
        <h1 class="my-5">Ceramic Guard</h1>
        <p>Met trots kan ik u zeggen dat Guchelaar Auto Detailing gecertificeerd Cartec Cermamic Guard detailer is.
<br>

Ceramic Guard is een nieuwe doorbraak op het gebied van op silicium gebaseerde nano coatings. Met dit revolutionaire product is het nu mogelijk om in één stap een zeer gladde, hoogglanzende en duurzame beschermlaag aan te brengen op de autolak. Ceramic Guard versterkt en verhoogt de hardheid van de lak waardoor de krasbestendigheid en kwetsbaarheid sterk verbetert. De lak krijgt een zichtbaar diepere kleur en glans gecombineerd met het 'easy to clean' effect en een sterk waterafstotende laag.
<br><br>

<h2>Doorbraak in technologie</h2>
<br>
De doorbraak start op moleculair niveau. Waar veel coatings gebruik maken van silicium oxide (SiO2) is bij Ceramic Guard het oxide (zuurstof) vervangen voor carbon (koolstof.) Door deze moleculaire aanpassing ontstond het SiCarbon+ molecuul met als groot voordeel een betere laagdichtheid.
<br>
Bij SiO2 verdwijnt tijdens het proces van uitharden 30% van de laagdikte, terwijl SiCarbon+ een maximaal verlies heeft van maar 5%. Het carbon zet zichzelf vast tussen het silicium waardoor Ceramic Guard uiteindelijk een hogere dichtheid behoudt. Dit resulteert in een betere krasbestendigheid, flexibiliteit en permanente hechting van de nano moleculen op de lak die alleen te verwijderen zijn door middel van polijsten.
<br>
Door de jarenlang opgebouwde kennis op het gebied van bescherming is Cartec erin geslaagd de nieuwste polymeer technieken toe te voegen aan de SiCarbon+ coating. Hierdoor ontstaat na applicatie een druppel contacthoek van 110° gecombineerd met een extreem glad oppervlak.  
<br><br>

<h2>Bescherming die blijvend is</h2>

Ceramic Guard: een uniek product op basis van het SiCarbon+ molecuul. Een revolutionaire coating met een zeer goede bescherming en een sterke water- en vuilafstotende werking op de autolak. Hierdoor wordt wassen zeer eenvoudig. Insecten verdwijnen als sneeuw voor de zon en de lak is optimaal beschermd tegen straatvuil, zout, UV-straling, agressieve chemicaliën (ph2 tot ph13) en alles wat de autolak van buitenaf bedreigt. Daarnaast geeft Ceramic Guard een extreem hoge en zichtbaar diepere glans en kleurdiepte aan de lak.
<br>
Hoewel één laag meer dan voldoende is, kan Ceramic Guard in meerdere lagen aangebracht 
<br>
worden. Hierdoor zal de laagdikte toenemen, waardoor de hardheid van de lak en de kleurdiepte bij iedere laag extra versterkt wordt.
<br><br>

<h2>Ceramic Guard Specialisten</h2>
Ceramic Guard wordt aangebracht door ervaringsdeskundigen. Specialisten die weten hoe ze de coating moeten aanbrengen. Zij weten ook wat de lak nodig heeft voordat de coating wordt aangebracht. Een goede voorbehandeling van de autolak is onmisbaar en heeft grote invloed op het uiteindelijke resultaat.
<br>
<br>
<h2>Ceramic Guard garantie</h2>
Ceramic Guard geeft een standaard garantie van 3 jaar op het behandelde lakwerk. De garantie is van toepassing als de coating door een Ceramic Guard specialist is aangebracht volgens de juiste applicatie voorwaarden en methode.
<br>
<br>
<h2>Ceramic Guard 4life</h2>

Met Ceramic Guard 4life is het mogelijk de garantieperiode te verlengen. Een jaarlijks terugkerende controle- en onderhoudsbehandeling van de Ceramic Guard zorgt voor een continuering van de garantieperiode. De garantie schuift een jaar door per controle- en onderhoudsbehandeling. Zo kunt u een levenslange garantie op de bescherming van uw auto claimen. Deze behandeling wordt door de Ceramic Guard Specialist uitgevoerd. Vraag uw specialist naar de voorwaarden.  
</p>
    </div>
</div>
<% include partials/footer %>
    