<!doctype html>
<html lang="en">
<head>
    <meta name="description" content="Reparaties vanaf 40 euro Geen vervangende auto nodig. Geen kleurverschil. Bedrag blijft onder eigen risico norm verzekering. Uitvoering door opgeleide mensen. Maximaal 1 uur wachttijd Originele autolak. Klaar terwijl u wacht!">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="img/g.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Guchelaar Auto Detailing</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <!--ANIMATE CSS-->

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <!-- or -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<meta name="google-site-verification" content="yu-kDmtM_934dmZLulqqj6IVPUBXmewyiD5D-9kb4QE" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121313270-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121313270-10');
</script>


</head>
<body>
<div class="gradient">
<nav class="navbar navbar-expand-lg p-0 fixed-top">
  <a class="navbar-brand pl-5 animated fadeInUp" href="/">Guchelaar<strong>Auto Detailing</strong></a>
  <button class="navbar-toggler hide" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto pr-5">
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1  animated fadeInUp" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/portfolio">Portfolio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 active animated fadeInUp" href="/ceramic-guard">Ceramic Guard</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/waxguard">Wax Guard</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/technieken">SSR</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/contact-opnemen">Contact opnemen</a>
      </li>
    <!--<li class="nav-item p-0">-->
    <!--    <a class="nav-link mx-2 p-1" href="#">Disabled</a>-->
    <!--  </li>-->
    <!--<li class="nav-item p-0">-->
    <!--    <a class="nav-link mx-2 p-1" href="#">Disabled</a>-->
    <!--  </li>-->
    </ul>
  </div>
</nav>
</div>


<div class="container-fluid" id ="ceramic-guard-hero">
          <div class="col-md-6 mx-auto text-center" id="hero-div">
    <h1 class="display-3">Ceramic Guard</h1>
    <img src="img/hr2.png" class="img-fluid" width="50%">
    <h3 class="text-light">Over Ceramic Guard</h3>
  </div>
   <a id="facebook" href="https://www.facebook.com/carcleaningguchelaar/"><i class="fab fa-facebook"></i></a>

</div>
<div class="container-fluid">
    <div class="container">
        <div class="col-md-7 col-sm-12 mx-auto pt-2 mb-5" id="texts">
            <!--<img src="img/hr3.png" style="opacity:0.3;" class="img-fluid">-->
        <p>IGL Coatings is gespecialiseerd in geavanceerde en beschermde glascoatings. Denk hierbij aan het beschermen van autolak, kunststoffen, boten, industriële machines en zelfs zonnepanelen.<br>
          We hebben een range glascoatings die uitsluitend aangebracht mag worden door gecertificeerde bedrijven en applicatie centers. Daarnaast zijn er ook enkele coatings en onderhoudsproducten beschikbaar voor de particuliere markt.

<br>

Een auto beschermt met een coating van IGL Coatings heeft een diepere glans, waterafstotende zelf reinigende eigenschappen, *een kras werende en meetbare extra beschermlaag op de lak. De coating zorgt er voor dat uw lak optimaal beschermt is tegen alle elementen, hierdoor zal uw auto in betere conditie blijven en langer schoon blijven. Daarbij is de auto ook nog eens gemakkelijker te onderhouden. Bij IGL Coatings hebben we een lak coating met garantie voor elk budget variërend van 1 tot 4 jaar garantie.<br><br>
            <h1 class="text-center"> Welke coating past bij u?</h1>
            <br><br>
            <h2 class="text-center">IGL Coatings Kenzo 10H</h2>
            <img src="img/clean.png" class="img-fluid">
            <br>
            <p>
            Onze high end oplossing voor de bescherming van uw lak. De Kenzo glascoating is een 2 componenten coating met 100% silica. Door de 2 componenten hebben we het maximale uit deze glascoating kunnen halen. Uw lak wordt extreem hydrofobisch en de coating heeft een hardheid van maar liefst 10H. U krijgt daarom van ons 4 jaar garantie en de duurzaamheid is tot 5 jaar.<br>
            Bij SiO2 verdwijnt tijdens het proces van uitharden 30% van de laagdikte, terwijl SiCarbon+ een maximaal verlies heeft van maar 5%. Het carbon zet zichzelf vast tussen het silicium waardoor Ceramic Guard uiteindelijk een hogere dichtheid behoudt. Dit resulteert in een betere krasbestendigheid, flexibiliteit en permanente hechting van de nano moleculen op de lak die alleen te verwijderen zijn door middel van polijsten.<br>
            <br>
            <img class="img-fluid" src="../img/IGL ECOCOAT KENZO.jpg"><br><br>
            <br><br><br>
            <h2 class="text-center">IGL Coatings Quartz+ 9H</h2><br>
            <img src="img/clean.png" class="img-fluid">
            Met IGL Coatings Quartz+ heeft u een glascoating op uw auto met 85% silica. Maar bij de Quartz+ coating maken we gebruik van een extra topcoating. Hierdoor zijn de hydrofibische eigenschappen en duurzaamheid hoger dan bij de quartz coating. Op Quartz+ zit een garantie van 2 jaar en de duurzaamheid is tot 3 jaar. Bij de quartz+ Coating is uw auto nog langer beschermd en nog sneller schoon en u staat versteld van de extra glans die uw lak zal hebben.<br><br>
            <br>
            <img class="img-fluid" src="../img/IGL ECOCOAT QUARTZ +.jpg"><br><br>
            <br><br><br>
            <h2 class="text-center">IGL Coatings Quartz 9H</h2><br>
            <img src="img/clean.png" class="img-fluid">
            Met IGL Coatings Quartz heeft u een glascoating op uw auto met 85% silica. Hierdoor heeft u de kras werende eigenschappen en een hoge duurzaamheid. Op Quartz zit een garantie van 1 jaar en de duurzaamheid is tot 2 jaar.  Bij de quartz Coatings is uw auto lang en snel schoon en u staat versteld van de glans die uw lak zal hebben.<br>
            <br>
            <img class="img-fluid" src="../img/IGL ECOCOAT QUARTZ.jpg"><br><br>
            <br><br><br>
            <h2 class="text-center">IGL Coatings Wheel</h2><br>
            <img src="img/clean.png" class="img-fluid">
            IGL Coatings Wheel is een hydrofobe anti-statische wiel glascoating die de hechting van remstof en vuil voorkomt. Deze coating heeft een hardheid van 9H en is hitte bestendig. <br>
            <br>
            <img class="img-fluid" src="../img/IGL WHEEL PROTECTION.jpg"><br><br>
            <br><br><br>
            <h2 class="text-center">IGL Coatings Trim </h2><br>
            <img src="img/clean.png" class="img-fluid">
            IGL Coatings Trim is een coating die ongespoten kunststof trims een beschermende laag geeft. Tevens wordt in veel gevallen het behandelde oppervlak weer mooi zwart. IGL Coatings Ecocoat Trim is niet geschikt voor heldere kunststoffen. <br>
            <br>
            <img class="img-fluid" src="../img/IGL TRIM PROTECTION.jpg"><br><br>
            <br><br><br>
            <h2 class="text-center">IGL Coatings Window</h2><br>
            <img src="img/clean.png" class="img-fluid">
            IGL Coatings Ecocoat Window is een ultra hydrofobe coating voor de ruiten van de auto. Vanaf +/- 60kmh rollen de druppels zonder ruitenwisser van uw ruit.  Het zicht zal beter zijn en de ruiten langer schoon.<br>
            <br>
            <img class="img-fluid" src="../img/IGL WINDOW PROTECTION.jpg"><br><br>
            <br><br><br>
          </p>
    </div>
    </div>
</div>
<% include partials/footer %>

