<!doctype html>
<html lang="en">
<head>
    <meta name="description" content="Reparaties vanaf 40 euro Geen vervangende auto nodig. Geen kleurverschil. Bedrag blijft onder eigen risico norm verzekering. Uitvoering door opgeleide mensen. Maximaal 1 uur wachttijd Originele autolak. Klaar terwijl u wacht!">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="img/g.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Guchelaar Auto Detailing</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <!--ANIMATE CSS-->

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <!-- or -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<meta name="google-site-verification" content="yu-kDmtM_934dmZLulqqj6IVPUBXmewyiD5D-9kb4QE" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121313270-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121313270-10');
</script>


</head>
<body>
<div class="gradient">
<nav class="navbar navbar-expand-lg p-0 fixed-top">
  <a class="navbar-brand pl-5 animated fadeInUp" href="/">Guchelaar<strong>Auto Detailing</strong></a>
  <button class="navbar-toggler hide" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto pr-5">
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1  animated fadeInUp" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/portfolio">Portfolio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 active animated fadeInUp" href="/ceramic-guard">Ceramic Guard</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/waxguard">Wax Guard</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/technieken">SSR</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/contact-opnemen">Contact opnemen</a>
      </li>
    <!--<li class="nav-item p-0">-->
    <!--    <a class="nav-link mx-2 p-1" href="#">Disabled</a>-->
    <!--  </li>-->
    <!--<li class="nav-item p-0">-->
    <!--    <a class="nav-link mx-2 p-1" href="#">Disabled</a>-->
    <!--  </li>-->
    </ul>
  </div>
</nav>
</div>


<div class="container-fluid" id ="ceramic-guard-hero">
          <div class="col-md-6 mx-auto text-center" id="hero-div">
    <h1 class="display-3">Ceramic Guard</h1>
    <img src="img/hr2.png" class="img-fluid" width="50%">
    <h3 class="text-light">Over Ceramic Guard</h3>
  </div>
   <a id="facebook" href="https://www.facebook.com/carcleaningguchelaar/"><i class="fab fa-facebook"></i></a>
   
</div>
<div class="container-fluid">
    <div class="container">
        <div class="col-md-7 col-sm-12 mx-auto pt-2 mb-5" id="texts">  
            <!--<img src="img/hr3.png" style="opacity:0.3;" class="img-fluid">-->
        <p>Met trots kan ik u zeggen dat Guchelaar Auto Detailing gecertificeerd Cartec Cermamic Guard detailer is.
<br>

Ceramic Guard is een nieuwe doorbraak op het gebied van op silicium gebaseerde nano coatings. Met dit revolutionaire product is het nu mogelijk om in één stap een zeer gladde, hoogglanzende en duurzame beschermlaag aan te brengen op de autolak. Ceramic Guard versterkt en verhoogt de hardheid van de lak waardoor de krasbestendigheid en kwetsbaarheid sterk verbetert. De lak krijgt een zichtbaar diepere kleur en glans gecombineerd met het 'easy to clean' effect en een sterk waterafstotende laag.
<br><br>
<h2 class="text-center">Doorbraak in technologie</h2>
            <img src="img/hr3.png" style="opacity:0.3;" class="img-fluid">
<img class="float-right m-2" src="../img/product-ceramic-quard.jpg">
<br>
De doorbraak start op moleculair niveau. Waar veel coatings gebruik maken van silicium oxide (SiO2) is bij Ceramic Guard het oxide (zuurstof) vervangen voor carbon (koolstof.) Door deze moleculaire aanpassing ontstond het SiCarbon+ molecuul met als groot voordeel een betere laagdichtheid.
<br>
Bij SiO2 verdwijnt tijdens het proces van uitharden 30% van de laagdikte, terwijl SiCarbon+ een maximaal verlies heeft van maar 5%. Het carbon zet zichzelf vast tussen het silicium waardoor Ceramic Guard uiteindelijk een hogere dichtheid behoudt. Dit resulteert in een betere krasbestendigheid, flexibiliteit en permanente hechting van de nano moleculen op de lak die alleen te verwijderen zijn door middel van polijsten.
<br>
Door de jarenlang opgebouwde kennis op het gebied van bescherming is Cartec erin geslaagd de nieuwste polymeer technieken toe te voegen aan de SiCarbon+ coating. Hierdoor ontstaat na applicatie een druppel contacthoek van 110° gecombineerd met een extreem glad oppervlak.  
<br><br>

<h2 class="text-center">Bescherming die blijvend is</h2>
            <img src="img/hr3.png" style="opacity:0.3;" class="img-fluid">
Ceramic Guard: een uniek product op basis van het SiCarbon+ molecuul. Een revolutionaire coating met een zeer goede bescherming en een sterke water- en vuilafstotende werking op de autolak. Hierdoor wordt wassen zeer eenvoudig. Insecten verdwijnen als sneeuw voor de zon en de lak is optimaal beschermd tegen straatvuil, zout, UV-straling, agressieve chemicaliën (ph2 tot ph13) en alles wat de autolak van buitenaf bedreigt. Daarnaast geeft Ceramic Guard een extreem hoge en zichtbaar diepere glans en kleurdiepte aan de lak.
<br>
Hoewel één laag meer dan voldoende is, kan Ceramic Guard in meerdere lagen aangebracht 
<br>
worden. Hierdoor zal de laagdikte toenemen, waardoor de hardheid van de lak en de kleurdiepte bij iedere laag extra versterkt wordt.
<br><br>

<h2 class="text-center">Ceramic Guard Specialisten</h2>
            <img src="img/hr3.png" style="opacity:0.3;" class="img-fluid">
Ceramic Guard wordt aangebracht door ervaringsdeskundigen. Specialisten die weten hoe ze de coating moeten aanbrengen. Zij weten ook wat de lak nodig heeft voordat de coating wordt aangebracht. Een goede voorbehandeling van de autolak is onmisbaar en heeft grote invloed op het uiteindelijke resultaat.
<br>
<br>
<h2 class="text-center">Ceramic Guard garantie</h2>
            <img src="img/hr3.png" style="opacity:0.3;" class="img-fluid">
Ceramic Guard geeft een standaard garantie van 3 jaar op het behandelde lakwerk. De garantie is van toepassing als de coating door een Ceramic Guard specialist is aangebracht volgens de juiste applicatie voorwaarden en methode.
<br>
<br>
<h2 class="text-center">Ceramic Guard 4life</h2>
            <img src="img/hr3.png" style="opacity:0.3;" class="img-fluid">
Met Ceramic Guard 4life is het mogelijk de garantieperiode te verlengen. Een jaarlijks terugkerende controle- en onderhoudsbehandeling van de Ceramic Guard zorgt voor een continuering van de garantieperiode. De garantie schuift een jaar door per controle- en onderhoudsbehandeling. Zo kunt u een levenslange garantie op de bescherming van uw auto claimen. Deze behandeling wordt door de Ceramic Guard Specialist uitgevoerd. Vraag uw specialist naar de voorwaarden.  
</p>
    </div>
    </div>
</div>
<% include partials/footer %>
    
