<% include partials/header %>
<div class="container-fluid" id ="contact-hero">
    <a id="facebook" href="https://www.facebook.com/carcleaningguchelaar/"> <i class="fab fa-facebook"></i></a>
  
</div>

<section id="section-contact">
  <div class="container">
    <div class="col-md-6 mx-auto">
      <h1 class="text-center mt-5">Contact</h1>
                  <img src="img/clean.png" class="img-fluid">

    </div>
    <div class="row">
      <div class="col-lg-6 text-center">

                    <h4 class="py-3"> p.guchelaar@gmail.com<br>
                     06-25594195</h4>
                    
                    <p class="brand">Guchelaar<strong>Auto Detailing</strong></p>
                    Riegshoogtendijk 28 <br>
                    7913 AZ <br>
                    Hollandscheveld <br>
                    Nederland
                </div>
                <div class="col-lg-6">
                    <form method="POST" action="contact-form">
                      <div class="form-group">
                    <label for="exampleFormControlInput1">Naam</label>
                    <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="Uw naam">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Emailadres</label>
                    <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="Uw emailadres">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Telefoon</label>
                    <input type="text" class="form-control" name="tel" id="exampleFormControlInput1" placeholder="Uw onderwerp">
                  </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Bericht</label>
                    <textarea class="form-control" name="bericht" id="exampleFormControlTextarea1" rows="6" placeholder="Uw bericht hier"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary m-auto" type="submit">Verstuur</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</section>
<% include partials/footer %>
