<% include partials/header %>
<div class="container-fluid" id ="contact-hero">
    
</div>

<section id="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
         <h1 class="blue py-4 text-center">Contactgegevens</h1>

                    <p class="py-3"><strong>EMAIL</strong></p>
                    <p class="brand">Guchelaar<strong>Auto Detailing</strong></p>
                    Riegshoogtendijk 28 <br>
                    7913 AZ Hollandscheveld <br>
                </div>
                <div class="col-lg-6">
                    <h1 class="blue pt-4 text-center">Contactformulier</h1>
                    <form method="POST" action="send">
                      <div class="form-group">
                    <label for="exampleFormControlInput1">Naam</label>
                    <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="Uw naam">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Emailadres</label>
                    <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="Uw emailadres">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Onderwerp</label>
                    <input type="text" class="form-control" name="ondw" id="exampleFormControlInput1" placeholder="Uw onderwerp">
                  </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Bericht</label>
                    <textarea class="form-control" name="bericht" id="exampleFormControlTextarea1" rows="3" placeholder="Uw bericht hier"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary m-auto" type="submit">Verstuur</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</section>
<% include partials/footer %>
