<% include partials/header %>
<div class="container-fluid" id ="technieken-hero">
      <div class="col-md-2 mx-auto">  
      <img src="img/down.png" class="mt-5 animated fadeInUpBig">
      </div>
    </div>
    <a id="facebook" href="https://www.facebook.com/carcleaningguchelaar/"><i class="fab fa-facebook"></i></a>
</div>
<div class="container-fluid" id="technieken-section">
    <div class="container">
        <div class="col-md-7 col-sm-12 mx-auto mb-5" id="texts">  
        <h1 class="mt-5 text-center">Smart Scratch Repair!</h1>
                    <img src="img/clean.png" class="img-fluid">

Krassen in autolak verwijderen & steenslag reparatie: Smart Scratch Repair!
<br><br>
SSR staat voor Smart Scratch Repair oftewel kras en steenslag reparatie zonder spuitwerk.<br>
Het SSRsysteem is de oplossing voor een snelle reparatie van uw krassen en/of steenslag. <br>
Het systeem is gebaseerd op echte autolak en vult uw kras of uw steenslag op zodat deze optisch nagenoeg niet meer zichtbaar is. 
Om de kwaliteit te onderstrepen geeft SSR 2 jaar garantie op de uitgevoerde reparatie. <br>
SSRkan de krassen of de steenslag die u onderweg heeft opgedaan voor ongeveer 80% repareren we noemen dit "een optische reparatie " en wel tegen een fractie van de kosten die u maakt bij de traditionele schadebedrijven.<br>
<br><br>
<h2 class="text-center">Techniek</h2>
            <img src="img/clean.png" class="img-fluid">

<div class="row text-center">
    <div class="col-md-6 p-2">
    <img src="../img/SSR VOOR.jpg" class="img-fluid">
        <h2>Voor</h2>
    </div>
    <div class="col-md-6">
    <img src="../img/SSR NA.jpg" class="img-fluid">
        <h2>Na</h2>
    </div>
</div>
Er wordt gewerkt met echte autolak die al droogt op het moment dat het wordt aangebracht. <br>
Overtollige lak wordt verwijderd door middel van polijsten waardoor de lak in de kras of steenslag blijft. <br>
Door het polijsten ontstaat fixatie van de lak in de kras of steenslag.<br>
Tevens kan ingevretenvogelpoep ingvuld worden waardoor de beschadiging minder zichtbaar is.
<br><br>
Is de kras diep dan wordt de behandeling herhaald tot niveau van de oorspronkelijke laklaag.<br>
Let wel : Sleutelkrassen en vandalisme schade zullen altijd ter beoordeling van de dealer gezien moeten worden. <br>
Na de behandeling ziet de laklaag er weer als nieuw uit of optisch niet meer zichtbaar.<br>
Voor meer informatie kun je kijken op de website van <a href="http://www.ssrnederland.nl/">SSR Nederland</a></p><br>
    </div>
    </div>
</div>
<% include partials/footer %>
    