<!doctype html>
<html lang="en">
<head>
    <meta name="description" content="Reparaties vanaf 40 euro Geen vervangende auto nodig. Geen kleurverschil. Bedrag blijft onder eigen risico norm verzekering. Uitvoering door opgeleide mensen. Maximaal 1 uur wachttijd Originele autolak. Klaar terwijl u wacht!">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="img/g.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Guchelaar Auto Detailing</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <!--ANIMATE CSS-->

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <!-- or -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<meta name="google-site-verification" content="yu-kDmtM_934dmZLulqqj6IVPUBXmewyiD5D-9kb4QE" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121313270-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121313270-10');
</script>


</head>
<body>
<div class="gradient">
<nav class="navbar navbar-expand-lg p-0 fixed-top">
  <a class="navbar-brand pl-5 animated fadeInUp" href="/">Guchelaar<strong>Auto Detailing</strong></a>
  <button class="navbar-toggler hide" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto pr-5">
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1  animated fadeInUp" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated  fadeInUp" href="/portfolio">Portfolio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/ceramic-guard">IGL Coatings</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/waxguard">Wax Guard</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated active fadeInUp" href="/technieken">SSR</a>
      </li>
      <li class="nav-item p-0 hover">
        <a class="nav-link mx-2 p-1 animated fadeInUp" href="/contact-opnemen">Contact opnemen</a>
      </li>
    <!--<li class="nav-item p-0">-->
    <!--    <a class="nav-link mx-2 p-1" href="#">Disabled</a>-->
    <!--  </li>-->
    <!--<li class="nav-item p-0">-->
    <!--    <a class="nav-link mx-2 p-1" href="#">Disabled</a>-->
    <!--  </li>-->
    </ul>
  </div>
</nav>
</div>


<div class="container-fluid" id ="technieken-hero">
          <div class="col-md-6 mx-auto text-center" id="hero-div">
    <h1 class="display-3">SSR</h1>
    <img src="img/hr2.png" class="img-fluid" width="50%">
    <h3 class="text-light">Smart Scratch Repair</h3>
  </div>
    </div>
    <a id="facebook" href="https://www.facebook.com/carcleaningguchelaar/"><i class="fab fa-facebook"></i></a>
</div>
<div class="container-fluid" id="technieken-section">
    <div class="container">
        <div class="col-md-7 col-sm-12 mx-auto mb-5" id="texts">
        <h1 class="mt-5 text-center">Smart Scratch Repair!</h1>
                    <img src="img/hr3.png" style="opacity:0.3;" class="img-fluid">

Krassen in autolak verwijderen & steenslag reparatie: Smart Scratch Repair!
<br><br>
SSR staat voor Smart Scratch Repair oftewel kras en steenslag reparatie zonder spuitwerk.<br>
Het SSRsysteem is de oplossing voor een snelle reparatie van uw krassen en/of steenslag. <br>
Het systeem is gebaseerd op echte autolak en vult uw kras of uw steenslag op zodat deze optisch nagenoeg niet meer zichtbaar is.
Om de kwaliteit te onderstrepen geeft SSR 2 jaar garantie op de uitgevoerde reparatie. <br>
SSRkan de krassen of de steenslag die u onderweg heeft opgedaan voor ongeveer 80% repareren we noemen dit "een optische reparatie " en wel tegen een fractie van de kosten die u maakt bij de traditionele schadebedrijven.<br>
<br><br>
<h2 class="text-center">Techniek</h2>
            <img src="img/hr3.png" style="opacity:0.3;" class="img-fluid">

<div class="row text-center">
    <div class="col-md-6 p-2">
    <img src="../img/SSR VOOR.jpg" class="img-fluid">
        <h2>Voor</h2>
    </div>
    <div class="col-md-6">
    <img src="../img/SSR NA.jpg" class="img-fluid">
        <h2>Na</h2>
    </div>
</div>
Er wordt gewerkt met echte autolak die al droogt op het moment dat het wordt aangebracht. <br>
Overtollige lak wordt verwijderd door middel van polijsten waardoor de lak in de kras of steenslag blijft. <br>
Door het polijsten ontstaat fixatie van de lak in de kras of steenslag.<br>
Tevens kan ingevretenvogelpoep ingvuld worden waardoor de beschadiging minder zichtbaar is.
<br><br>
Is de kras diep dan wordt de behandeling herhaald tot niveau van de oorspronkelijke laklaag.<br>
Let wel : Sleutelkrassen en vandalisme schade zullen altijd ter beoordeling van de dealer gezien moeten worden. <br>
Na de behandeling ziet de laklaag er weer als nieuw uit of optisch niet meer zichtbaar.<br>
Voor meer informatie kun je kijken op de website van <a href="http://www.ssrnederland.nl/">SSR Nederland</a></p><br>
    </div>
    </div>
</div>
<% include partials/footer %>
