#body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  overflow-x:none!important;
  font-family: 'Montserrat', sans-serif!important;
}

.red{
  color:red;
}

p{
  font-family: 'Montserrat', sans-serif;
}

hr{
  border:2px solid red;
}

h1,h2,h3,h4,h5,h6{
  /*font-weight:bold;*/
  color:black;
  font-family: 'Montserrat', sans-serif;
}

#texts{
  font-family: 'Montserrat', sans-serif;
  line-height:28px!important;  
}

.btn-primary{
  background:white;
  border:2px solid red;
  border-radius:0px;
  color:black;
  font-family: 'Montserrat', sans-serif;
  transition:.4s ease-in-out;
}

.btn-primary:hover{
  background:red;
  border:2px solid red;
  border-radius:0px;
  color:white; 
  box-shadow:0px 20px 40px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition:.4s ease-in-out;
}

.btn-secondary{
  background:rgba(0,0,0,0);
  border:6px solid white;
  border-radius:0px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  transition:.4s ease-in-out;
}

.btn-secondary:hover{
  background:rgba(0,0,0,0);
  border:6px solid white;
  border-radius:0px;
  color:white; 
  box-shadow:0px 20px 40px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition:.4s ease-in-out;
}

.navbar{
  transition:.4s ease-in-out;
  height:160px;
  background:rgba(0,0,0,0);
}

.navbar-brand:hover{
  transition:.4s ease-in-out;
  color:#808080;
}

.scroll-navbar{
  color:black!important;
  font-size:28px!important;
}

 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  /*border-color: rgb(255,102,203);*/
} 

.hide{
  display:none;
}

.black{
  color:black!important;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size:32px;
}

.scrolled-nav{
  height:80px;
  background:white;
  transition:.4s ease-in-out;
  box-shadow:0px 20px 40px rgba(0,0,0,0.4);
  
}

.navbar .nav-link{
  font-family: 'Montserrat', sans-serif;
  /*font-weight:bold;*/
  color:white;
}

.navbar .active{
   border:2px solid white;
}

.hover a{
  border:2px solid rgba(0,0,0,0);
  transition:.2s ease-in-out;
  
}
.hover :hover{
   border:2px solid white;
  transition:.2s ease-in-out;
}


#hero{
  /*margin-top:-160px;*/
  height:100vh!important;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/638479/pexels-photo-638479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
}

.hero-text{
  font-weight:300!important;
  font-size:24px;
}

#ceramic-guard-hero{
  /*margin-top:-160px;*/
  height:100vh!important;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('http://www.cartecworld.com/uploads/CeramicGuard_auto_logo.jpg');
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
}

#technieken-hero{
  /*margin-top:-160px;*/
  height:100vh!important;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/441179/pexels-photo-441179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);  
}

#contact-hero{
  /*margin-top:-160px;*/
  height:100vh!important;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/159293/car-engine-motor-clean-customized-159293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);  
}

.brand{
  font-family: 'Montserrat', sans-serif;
  color:black;
  font-size:32px;
}



#hero div{
  padding-top:40vh;
  
}


#technieken-hero div{
  padding-top:60vh;
  
}


#hero div{
  padding-top:40vh;
  
}

#about{
  /*height:100vh;*/
}

#about img{
  /*box-shadow:0px 20px 40px rgba(0,0,0,0.5);*/
  /*border:1px solid white;*/
}

#about-inner{
  margin-top:20vh;
}

#ceramic-guard{
  text-align:right;
}

#ceramic-guard-section{
  margin-top:100px;
  font-family: 'Montserrat', sans-serif;
  
}

#reviews{
  margin-top:200px;
  margin-bottom:200px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/1005162/pexels-photo-1005162.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  height:300px; 
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  color:white;
}

.review .fas{
  color:red;
  font-size:24px;
}

#services ul{
  list-style-type: square;
  list-style-image: url(../img/next.png);
  /*list-style-position: inside;*/
  line-height:28px;
}

#services .col-md-4{
  /*box-shadow:0px 10px 20px rgba(0,0,0,0.4);*/
}

/*FOOTER*/
footer{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('http://www.spiffyauto.com/images/main_slider.jpg');
  background-size:cover;
  background-position:center center;
  color:white!important;
  font-family: 'Montserrat', sans-serif;
  
}

.footer-brand{
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size:32px;
}

footer h5{
  color:red;
}

footer a{
  color:white;
}

.footer-copyright{
  font-family: 'Montserrat', sans-serif;
  
}

/*MOBILE*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar-brand{
  /*font-family: 'Montserrat', sans-serif;*/
  /*color:white;*/
  font-size:22px;
  margin:0!important;
}
.navbar ul{
  background:white;
}
.scroll-navbar{
   font-size:22px!important;
}
#hero{
  height:80vh!important;
}
#hero div{
  padding-top:30vh;
}
#ceramic-guard{
  text-align:center!important;
}
#technieken-hero{
  height:60vh!important;
}
#contact-hero{
  height:60vh!important;
}
#ceramic-guard-hero{
  height:60vh!important;
}


}




/*HOVER EFFECTS*/
/* Reveal */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding:20px;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098D1;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}