#body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  overflow-x:none!important;
  font-family: 'Montserrat', sans-serif!important;
}

.red{
  color:red;
}

#index{
  /*background:#BF0000;*/
}

p{
  font-size:1rem;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border:1px solid #b52222;
  width:80%;
}

/**{*/
/*  border: 0.2px solid green;*/
/*}*/

h1,h2,h3,h4,h5,h6{
  /*font-weight:bold;*/
  color:black;
  font-family: 'Oswald', sans-serif!important;
}

#texts{
  font-family: 'Montserrat', sans-serif;
  line-height:28px!important;
}

.btn-primary{
  background:white;
  border:2px solid #BF0000;
  border-radius:0px;
  color:black;
  font-family: 'Montserrat', sans-serif;
  transition:.4s ease-in-out;
}

.btn-primary:hover{
  background:red;
  border:2px solid red;
  border-radius:0px;
  color:white;
  box-shadow:0px 20px 40px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition:.4s ease-in-out;
}

.btn-secondary{
  background:rgba(0,0,0,0);
  border:6px solid white;
  border-radius:0px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  transition:.4s ease-in-out;
}

.btn-secondary:hover{
  background:rgba(0,0,0,0);
  border:6px solid white;
  border-radius:0px;
  color:white;
  box-shadow:0px 20px 40px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition:.4s ease-in-out;
}

.navbar{
  transition:.3s ease-in-out;
  height:160px;
  background:rgba(0,0,0,0);
}

.navbar-brand:hover{
  transition:.4s ease-in-out;
  color:#808080;
}

.scroll-navbar{
  color:black!important;
  font-size:28px!important;
}

 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  /*border-color: rgb(255,102,203);*/
}

.hide{
  display:none;
}

.black{
  color:black!important;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size:32px;
}

.scrolled-nav{
  height:80px;
  background:white;
  transition:.4s ease-in-out;
  box-shadow:0px 20px 40px rgba(0,0,0,0.4);

}

.navbar .nav-link{
  font-family: 'Montserrat', sans-serif;
  /*font-weight:bold;*/
  color:white;
}

.navbar .active{
   border:2px solid white;
}

.hover a{
  border:2px solid rgba(0,0,0,0);
  transition:.2s ease-in-out;

}
.hover :hover{
   border:2px solid white;
  transition:.2s ease-in-out;
}


#hero{
  -webkit-clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
  clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
  /*margin-top:-160px;*/
  height:100vh!important;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/audi.jpg');
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
}

.hero-text{
  font-weight:300!important;
  font-size:24px;
}

#portfolio-hero{
-webkit-clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
  /*margin-top:-160px;*/
  height:100vh!important;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('../img/2.jpg');
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
}

#ceramic-guard-hero{
  -webkit-clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
  /*margin-top:-160px;*/
  height:100vh!important;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/IGLCOATING\ GREEN\ CAR.jpg');
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
}

#wax-guard-hero{
  -webkit-clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
  /*margin-top:-160px;*/
  height:100vh!important;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/5.jpeg');
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
}

#technieken-hero{
    -webkit-clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
  /*margin-top:-160px;*/
  height:100vh!important;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/159293/car-engine-motor-clean-customized-159293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
}

#contact-hero{
  -webkit-clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
clip-path: polygon(100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%, 0 0);
  /*margin-top:-160px;*/
  height:100vh!important;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/441179/pexels-photo-441179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size:cover;
  background-position:center center;
  webkit-box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 50px 30px rgba(0,0,0,0.75);
}

#contact-left i{
  font-size:35px;
  color:#333;
  /*text-shadow:2px 2px 2px #930000;*/
}

#contact-left .fab{
  color:blue;
}

#contact-left .far{
  color:#BF0000;
}

.brand{
  font-family: 'Montserrat', sans-serif;
  color:black;
  font-size:32px;
}

#hero-div{
  padding-top:40vh;

}
#hero-div h1,h3{
  font-family: 'Montserrat', sans-serif;
  color:white;
}

#hero div{
  padding-top:40vh;

}

#lamb-row{
    /*display: flex; */
}

#ceramic{
  background-image:url('../img/IGL ECOCOAT QUARTZ +.jpg');
  background-position:center center;
  background-size:cover;
  min-height:100%!important;
  /*padding: 1em;*/
  /*border: solid;*/
}

#ferarri{
  background-image:url('../img/4.jpg');
  background-position:center center;
  background-size:cover;
  min-height:100%!important;
  /*padding: 1em;*/
  /*border: solid;*/
}


#lamborghini{
  background-image:url('../img/PORTFOLIO NIEUW 2.jpg');
  background-position:left;
  background-size:cover;
  min-height:100%!important;
  /*padding: 1em;*/
  /*border: solid;*/
}

#technieken-section{
  height:auto;
}
#technieken-hero div{
  /*padding-top:60vh;*/

}


#hero div{
  padding-top:40vh;

}

#facebook{
  position:absolute;
  bottom:80px;
  right:20px;
  color:white;
  transition:.4s ease-in-out;

}

#facebook:hover{
  text-decoration:none;
  transform:scale(1.05,1.05);
  transition:.4s ease-in-out;
}

#facebook .fa-facebook{
  font-size:45px;
  /*color:#3b5998;*/
}

#about{
  /*height:100vh;*/

}

#banner{
 background:#CB0000;
}



#about img{
  /*box-shadow:0px 20px 40px rgba(0,0,0,0.5);*/
  /*border:1px solid white;*/
}

#about-inner{
  margin-top:20vh;
}

#ceramic-guard{
  text-align:right;
}

#ceramic-guard-section{
  margin-top:100px;
  font-family: 'Montserrat', sans-serif;

}

#reviews{
  /*margin-top:200px;*/
  /*margin-bottom:200px;*/
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/recensies.jpg');
  height:400px;
  background-size:cover;
  background-position:top center;
  webkit-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.75);
  color:white;
}

#reviews .review{
  margin-top:150px;
}

.review .fas{
  color:red;
  font-size:24px;
}

#services ul{
  list-style-type: square;
  list-style-image: url(../img/next.png);
  /*list-style-position: inside;*/
  line-height:28px;
}

#services .col-md-4{
  /*box-shadow:0px 10px 20px rgba(0,0,0,0.4);*/
}

/*PORTFOLIO*/
.card{
  /*box-shadow:0px 20px 40px rgba(0,0,0,0.5);*/
  margin-top:50px;
  margin-bottom:50px;
  transition:.4s ease-in-out;
}

.card:hover{
  transform:scale(1.15,1.15);
  transition:.4s ease-in-out;
}

/*FOOTER*/
footer{
  background:white;
  /*background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('http://www.spiffyauto.com/images/main_slider.jpg');*/
  background-size:cover;
  background-position:center center;
  color:white!important;
  font-family: 'Montserrat', sans-serif;

}

.footer-brand{
  font-family: 'Montserrat', sans-serif;
  color:black;
  font-size:32px;
}

footer h5{
  color:#BF0000;
}

footer a{
  border:2px solid rgba(0,0,0,0);
  color:black;
  padding:3px;
  transition:.2s ease-in-out;
}

footer a:hover{
  border:2px solid red;
  color:black;
  text-decoration:none;
  transition:.2s ease-in-out;
}

.footer-copyright{
/*background:rgba(0,0,0,0.4);*/
font-family: 'Montserrat', sans-serif;
}

#footer-clip{
  background:#050608!important;
-webkit-clip-path: polygon(0 0, 69% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 69% 0, 100% 100%, 0% 100%);
}

/*MOBILE*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar-brand{
  /*font-family: 'Montserrat', sans-serif;*/
  /*color:white;*/
  font-size:22px;
  margin:0!important;
}
.navbar ul{
  background:white;
}
.scroll-navbar{
   font-size:22px!important;
}
#hero{
  height:80vh!important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
}
#hero div{
  padding-top:30vh;
}
#ceramic-guard{
  text-align:center!important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
}
#technieken-hero{
  height:60vh!important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
}
#contact-hero{
  height:60vh!important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
}
#ceramic-guard-hero{
  height:60vh!important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
}
#portfolio-hero{
  height:60vh!important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
}
#wax-guard-hero{
  height:60vh!important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
clip-path: polygon(0 0, 100% 0, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
}
#facebook{
  top:40vh;
}
#hero-div{
  padding-top:15vh;
}
#reviews .review h2{
  font-size:32px;
}
#banner{
  background:white!important;
}
#banner2{
  height:180px!important;
  margin-top:20px;
}
#banner3{
  margin-top:20px;
}
.navbar-brand{
  font-size:18px!important;
  /*padding-left:0px!important;*/
}
#ceramic{
  /*height:200px;*/
}
#ferarri{
  height:200px;
}

}
@media only screen and (max-device-height : 400px) and (max-device-width : 700PX) {
  #navbarNav{
    background:white;
  }
}




/*HOVER EFFECTS*/
/* Reveal */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding:20px;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098D1;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}

/*COOKIES: ;*/

#cookieConsent {
    background-color: rgba(255,255,255,0.8);
    min-height: 50px;
    font-size: 14px;
    color: #333;
    line-height: 26px;
    padding: 14px 0 14px 30px;
    font-family: "Titillium Web",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #266db2;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #BF0000;
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
    font-family: "Teko",Helvetica,sans-serif;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #266db2;
}


